h1 Edit #{user.name}

form(method='post', action='/users/#{user.id}')
  
  input(type='hidden', name='_method', value='put')
  
  .formRow
    label Name:
    input(type='text', name='user[username]', value=user.user)
    
  .formRow
     label Name:
     input(type='text', name='user[password]', value=user.password)
  
  .formRow
    label Email:
    textarea(name='user[email]')= user.email
    
  .formRow
    label Phone:
    textarea(name='user[phone]')= user.phone
    
  .formRow
    label Street Address:
    textarea(name='user[street_address]')= user.street_address

  .formRow
    label Zip:
    textarea(name='user[zip]')= user.zip
    
  .formRow
    input(type='submit', value='Save')
