h1 Users

a(href="/users/new") New

table
  thead
    th User Name
    th Email
    th Phone
    th Secondary Phone
    th Street Address
    th Zip
    th Actions
  tbody
    for user in users
      tr
        td= user.username
        td= user.email
        td= user.phone
        td= user.secondary_phone
        td= user.street_address
        td= user.zip
        td
          a(href="/users/#{user.id}") Show
          a(href="/users/#{user.id}/edit") Edit
