h1 New User

form(method='post', action='/users')
 .formRow
   label Name:
   input(type='text', name='user[username]', value=user.name)
 
  .formRow
   label Password:
   textarea(name='user[password]')= user.password
 
 .formRow
   label Email:
   textarea(name='user[email]')= user.email
   
 .formRow
   label Phone:
   textarea(name='user[phone]')= user.phone
   
 .formRow
   label Street Address:
   textarea(name='user[street_address]')= user.street_address

 .formRow
   label Zip:
   textarea(name='user[zip]')= user.zip

 .formRow
   input(type='submit', value='Create')
